body{
    border: 2px solid black;
    background-color: #F3F4F6 ;
;
}
h1{
    text-align: center;
    margin: 5% ;
    color:#1C1C1E ;
    Margin-bottom: 0;
    text-decoration: underline;
    color:#111827 ;
}
div{
    text-align:center ;
    color:#1C1C1E ;
}
#noOfCh{ 
    width:60%;
    padding: 3% ;
    border-radius: 5% ;
    font-size: medium;
    color:#111827 ;
    background-color: #F59E0B;
    margin: 4% ;
    margin-right:0% ;
    margin-bottom: 0%;

}
.reset,#btn{
    width:20% ;
    padding:3% ;
    margin-left: 2%;
    border-radius: 5%;
    font-weight: bold;
    font-size: medium;
    color:#111827 ;
    background-color: #F59E0B;
    }
div{
padding: 5%;
padding-top:1% ;
font-size: medium;
color:#111827 ;
}